.loginPage{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("../../assets/imgs/1.2.jpg");
    background-size: 100%;
}
.pagebar{
    position: absolute;
    width: 100%;
    height: 240px;
    top: 50%;
    margin-top: -120px;
    background: rgba(91,156,254,0.3)
}
.textpart{
    width: 60%;
    color: #fff;
    position: absolute;
    top:50%;
    margin-top:-90px;
    text-align: center;
    h3{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    p{
        margin-top: 0;
        font-size: 14px;
    }
}
.loginForm{
    width: 340px;
    height: 300px;
    top: 50%;
    left:70%;
    margin-top: -150px;
    position: absolute;
    background: #fff;
    border-radius: 5px;
    padding: 30px 20px;
    box-sizing: border-box;
    .title{
        width: 100%;
        font-size: 24px;
        color: #5BafFE;
        text-align: center
    }
    .loginItem{
        margin-top: 20px;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #5BafFE;
        span{
            display: inline-block;
            width: 60px;
            text-align: left;
        }
        input{
            height: 30px;
            line-height: 30px;
            border: none;
            outline: none;
            width: 240px;
            font-size: 18px;
            text-indent: 2em;
        }
    }
    .submitBtn{
        width: 100%;
        height: 40px;
        line-height: 40px;
        background: #5BafFE;
        cursor: pointer;
        text-align: center;
        margin-top: 30px;
    }
}
input:-webkit-autofill { 
    background-image: none; 
    color: #000; 
}
input:-webkit-autofill { 
    -webkit-box-shadow: 0 0 0px 1000px white inset; 
}