.ant-layout-header{
    height: 50px!important;
    line-height: 50px!important;
    background: black!important;
    color: #fff;
    padding-left: 20px!important;
}
.ant-layout-sider-children{
    text-align: center;
    color: #fff;
}
.ant-layout-has-sider{
    height: calc(100vh - 50px);
}
.ant-menu-item{
    text-align: left;
}
.ant-layout-content{
    margin: 0!important;
    padding: 0!important;
}
.icon{
    height: 40px;
    line-height: 40px;
}